/* #components-layout-demo-fixed-sider .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
  } */
  .site-layout .site-layout-background {
    background: #fff;
    /* background-color:; */
  }

  .file img{
    width: 50px;
    border-radius: 50px;
  }

  .file  {
    margin-top: 10px;
    margin-bottom: 10px;
   text-align: center;
   color: white;   
  }

  .logo img {
    width: 120px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
.search{
float: right;
}